


/* ----------- Media Query --------- */

@media only screen and (max-width: 1000px) {
.imgContactRes{
    border: 1px solid #fff;
}

    .inputMessage{
        width: 65vw;
        height: 12.5vh;
        position: absolute;
        bottom: 5vh;
        right: 10vw;
             
    }

    #iconKeyboard{
        margin-bottom: 5vh;
    }

    #inputMessage2{
        width: 30.3vw;
        position: absolute;
        bottom: 5vh;
        left: 0.1vw;
    }

    #inputMessage3{

    }

    .headerContact{
        padding-left: 3vw;
    }

    #iconFixProfile{
        display: none;
    }

    .nameContactOrg{
        font-size: 13px;
    }

    #nameUserRes{
        margin-left: 1.5vw;
        font-size: 9px;
    }

    #eye{
        margin-right: 15vw;
    }
    
  }

  @media only screen and (max-width: 2000px) {
    .leftchat {
        padding: 10px;
        text-align: left;
        width: 55%;
        border-radius: 5px;
        float: left;
        background: rgb(238, 238, 238);
        margin-bottom: 10px;
        overflow: auto;
    }
    
    .rightchat {
        padding: 10px;
        text-align: right;
        background: rgb(156, 255, 212);
        width: 55%;
        border-radius: 5px;
        float: right;
        margin-bottom: 10px;
        overflow: auto;
        margin-right: 10px;
    }
    
    em {
        font-size: 10px;
        color: black;
    }
    .list-group-item{
        background: #F0FFFF;
    }
    
    .list-group-item:hover{
        background: rgba(0,0,0,0.6);
    }
    
    #button-addon1{
        background: teal;
        border-bottom-right-radius: 10px;
    }
    
    #button-addon1:hover{
        color: #ccc;
    }
    
    .inputMessage{
        bottom: 2.2vh;
        left: 35.7vw;
        position: absolute;
        
    }
    
    #inputMessage2{
        border-top: 2px solid #ccc;
        width: 57.3vw;
        position: relative;
        bottom: 1.5vh;
        background: #F0FFFF;
        border-bottom-right-radius: 10px;
    }
    
    #inputMessage3{
        padding-left: 3vw;
        background: #F0FFFF;
        outline: none;
        border: none;
    }
    
    #iconKeyboard{
        position: relative;
        top: 3vh;
        left: 1vw;
        font-size: 25px;
        color: gray;
    }
  }

/* ----------- Media Query --------- */