@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
  

/*-------------------- HEADER --------------------*/

.headerregister {
    height: 151px;
    background-image: url(../img/waves.svg);
    background-size: cover;
}

/*-------------------- CONTENT REGISTER --------------------*/


.register {
    border-radius: 5px;
    margin-top: -139px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    text-align: center;
    height: 615px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    transition: 0.5s;
}

.textloginregister {
    color: white;
    padding-top: 33px;
    padding-bottom: 33px;
    margin-top: -30px;
    padding-left: 75px;
    font-family: 'Open Sans', sans-serif;
}


/*-------------------- BUTTON REGISTER   --------------------*/
.button1register {
    background: #3cebb6;
    background: -moz-linear-gradient(-45deg,  #29ce97 0%, #0cffc2 50%, #29ce97 51%,  #29ce97 71%,  #29ce97 100%);
    background: -webkit-linear-gradient(-45deg,  #29ce97 0%,#1dffc7 50% #29ce97 51%, #29ce97 71%, #29ce97 100%);
    background: linear-gradient(135deg,  #29ce97 0%,#47ffc2 50%, #29ce97 51%, #29ce97 71%, #29ce97 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=' #29ce97', endColorstr=' #29ce97',GradientType=1 );
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.button1register:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}
@keyframes AnimationName {
    0%{
        background-position:0% 31%
    }
    50%{
        background-position:100% 70%
    }
    100%{
        background-position:0% 31%
    }
}

/*-------------------- RESPONSIVE  --------------------*/

@media only screen and (max-width:  575.98px) {

    .register {
        margin-top: -135px;
    }
    .textloginregister {
        display: none;
    }
    .handphonelogin {
        display: none;
    }
    .show {
        position: relative;
        right: -60px;
    }
 }
   
